body {
    color: var(--dca-black);
    background: var(--dca-white);
}

.automation-container {
    margin: 20px;
    padding: 0;
    text-align: center;
    position: relative;
    min-height: 400px;
    overflow: auto;

    .automation-step {
        margin-bottom: 20px;
    }

    .automation-group {
        z-index: 1;
    }
    .automation-item {
        position: relative;
        width: fit-content;
        background: var(--dca-white);
        border: var(--dca-black) 1px solid;
        border-radius: var(--dca-border-radius);
        width: 180px;
        min-height: 100px;
        display: inline-block;
        z-index: 1;
        box-shadow: 0 0 5px color-mix(in srgb,var(--dca-black) 20%,transparent);
        > svg {
            zoom: 150%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
        .automation-title {
            position: absolute;
            width: max-content;
            inset-inline-end: calc(100% + 20px);
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
        }
        .card-title {
            border-bottom: var(--dca-black) 1px solid;
            padding: 0.5em 10px;
            font-weight: bold;
            svg {
                float: inline-start;
                margin: 5px 0px;
            }
        }
        .modifier {
            &:not(:last-child) {
                border-bottom: var(--dca-black) 1px solid;
            }
            padding-block: 0.5em;
            position: relative;
        }
        .modifier-arrow {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                inset-inline-end: calc(100%);
                width: 25px;
                border-top: var(--dca-black) 1px solid;
            }
            position: absolute;
            top: 50%;
            inset-inline-start: calc(100% + 30px);
            width: 30px;
            height: 30px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: var(--dca-black) 1px solid;
        }

    }
    .automation-trigger {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        min-height: 75px;
    }

    .automation-if {
        border-radius: 0;
        border: none;
        background: none;
        box-shadow: none;
        width: 100px;
        height: 100px;
        &.empty {
            height: 100px;
        }
        min-height: unset;
        z-index: 2;
        &::before {
            content: ' ';
            position: absolute;
            top: 14.5px;
            inset-inline-start: 14.5px;
            border-radius: 0;
            border: var(--dca-black) 1px solid;
            width: 71px;
            height: 71px;
            transform: rotate(45deg);
            background: var(--dca-white);
            z-index: 1;
            box-shadow: 0 0 5px color-mix(in srgb,var(--dca-black) 20%,transparent);
        }
        .automation-title {
            top: unset;
            bottom: 50%;
            inset-inline-end: calc(100% + 5px);
        }
        > svg {
            top: 33px;
        }
        .then-branch, .else-branch {
            position: absolute;
            inset-inline-end: 100%;
            font-size: 80%;
            bottom: 25px;
        }
        .else-branch {
            inset-inline-start: 100%;
        }
   }
    .automation-branches {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        .automation-branch {
            position: relative;
            margin-top: 20px;
            flex: var(--branch-width, 1);
            display: block;
            z-index: 1;
            &.ending {
                background: var(--dca-white);
            }
        }
        .automation-branch-empty {
            flex: 0.1;
        }
    }
}

/* SVG Connectors */
.automation-connectors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.automation-connectors path {
    stroke: var(--dca-black);
    stroke-dasharray: 6, 4;
    stroke-width: 1px;
    fill: none;
    stroke-linecap: round;
}

.automation-connectors #arrowhead polygon {
    fill: var(--dca-black);
}

.automation-connectors path.connector-then {
    stroke: #28a745;
}

.automation-connectors path.connector-else {
    stroke: #dc3545;
}

.automation-connectors path.connector-merge {
    stroke-dasharray: 4, 4;
    opacity: 0.7;
}

.cms-structure-mode-structure .automation-container {
    margin-inline-end: 436px;
}

.automation-icons {
    display: none;
}